body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.card-list {
  list-style: none;
  padding: 20px;
}

.card--item {
  background:#E8C7DE;
  margin: 15px 5px;
  padding: 10px;
  color: white;
  border-radius: 3px;
  display: inline-block;
}
